<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.ibm.bluez.jcop.eclipse.launcher">
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.shell">
<mapEntry key="autoupload" value="true"/>
</mapAttribute>
<listAttribute key="com.ibm.bluez.jcop.eclipse.lcc.shell/__dir__entries">
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.shell"/>
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.shell/cmdsbefore"/>
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.shell/cmdsafter"/>
</listAttribute>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.shell/cmdsafter"/>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.shell/cmdsbefore"/>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.shell2">
<mapEntry key="clearbuf" value="true"/>
</mapAttribute>
<listAttribute key="com.ibm.bluez.jcop.eclipse.lcc.shell2/__dir__entries">
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.shell2"/>
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.shell2/scriptpath"/>
</listAttribute>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.shell2/scriptpath"/>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.target">
<mapEntry key="seclevel" value="plain"/>
<mapEntry key="scp" value="SCP_AUTO"/>
<mapEntry key="cardtype" value="com.ibm.bluez.jcop.eclipse.cardtypes.custom"/>
<mapEntry key="iuset" value="1"/>
<mapEntry key="reader" value="com.ibm.bluez.jcop.eclipse.readers.jpcsc.OmniKey CardMan 3121 00 00"/>
<mapEntry key="cmplugin" value="com.ibm.jc.CardManager"/>
<mapEntry key="cmaid" value="A000000003000000"/>
<mapEntry key="maxblocksize" value="250"/>
<mapEntry key="sdaid" value="A000000003000000"/>
</mapAttribute>
<listAttribute key="com.ibm.bluez.jcop.eclipse.lcc.target/__dir__entries">
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.target"/>
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.target/cmkeys"/>
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.target/simulconfig"/>
</listAttribute>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.target/cmkeys">
<mapEntry key="2" value="1/3/DES-ECB/404142434445464748494a4b4c4d4e4f"/>
<mapEntry key="1" value="1/2/DES-ECB/404142434445464748494a4b4c4d4e4f"/>
<mapEntry key="0" value="1/1/DES-ECB/404142434445464748494a4b4c4d4e4f"/>
</mapAttribute>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.target/simulconfig"/>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.upload"/>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.upload/0">
<mapEntry key="pkgspec" value="pkg://CalcApplet/applet"/>
</mapAttribute>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.upload/0/0">
<mapEntry key="appspec" value="CalcApplet"/>
</mapAttribute>
<listAttribute key="com.ibm.bluez.jcop.eclipse.lcc.upload/__dir__entries">
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.upload"/>
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.upload/0"/>
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.upload/0/0"/>
</listAttribute>
</launchConfiguration>
